@import '../../styles/colors.scss';

.video-text__ratio-box {
  position: relative;
  padding-top: 56.25%;
}

.video-text__ratio-box-inner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-text__iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.video-text__input-video {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.video-text__video-uploaded {
  width: 100%;
  height: 100%;
}
.video-text__video-uploaded--hidden {
  opacity: 0;
}

.video-text__uploaded-icon-circle {
  display: flex;
  padding: 14px 15px 14px 19px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid $gray-3;
  opacity: 0.7;
  background: #fff;

  /* Box Shadow/md */
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.04), 0px 20px 25px -5px rgba(0, 0, 0, 0.05),
    0px 1px 3px 0px rgba(0, 0, 0, 0.05);
}

.video-text__progress {
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.video-text__placeholder {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 139px;
  background-color: $gray-1;
}

.video-text__placeholder.video-text__placeholder--viewmode {
  display: flex;
}

.video-text__video-area-wrapper {
  margin-bottom: 8px;
}

// Video Dropzone styles (based on image dropzone)
.dropzone-video__root {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: #f8f9fa;
  }

  &--error {
    background-color: #fff5f5;
    border-color: #ff8787;

    &:hover {
      background-color: #ffe3e3;
    }
  }

  .mantine-LoadingOverlay-root {
    z-index: 10 !important;
  }
}

.dropzone-video__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.dropzone-video__tip {
  margin: 0;
  color: $gray-7;
  font-size: 14px;
  font-weight: 500;
}

.dropzone-video__rule {
  margin: 0;
  color: $gray-6;
  font-size: 12px;
  text-align: center;
}

.dropzone-video__tip--reject {
  color: $red-7;
}

.dropzone-video__rule--reject {
  color: $red-5;
}
